{% extends 'parent/base.html' %}
{% block Title %} post list {% endblock  %}
{% block content %}
    <h1>My Posts: </h1>
<ol style="--length: {{ posts|length }}" role="list">
    {% for post in posts %}
    <li style="--i: {{ forloop.counter}}">
        <h3>
            {#<a href="{% url 'blog:post_detail' post.id %}">{{post.Title}} </a>#}
            <a href="{{post.get_absolute_url}}">{{post.Title}}</a>
        </h3>
        <p>{{post.Description|truncatewords:10}}</p>
    </li>
    {% endfor %}
    {% include "partials/pagination.html" with page_obj=page_obj %}
</ol>
{% endblock  %}